<div>
    <div class="sub-headline2">{{ i18n.eyeData }}</div>
    <table class="eyeData">
        <tr>
            <td class="label1">{{ rightEye.laterality }}</td>
            <td class="label1">{{ rightEye.surgeon }}</td>
        </tr>
        <tr>
            <td class="label1">{{ leftEye.laterality }}</td>
            <td class="label1">{{ leftEye.surgeon }}</td>
        </tr>
    </table>
</div>