{% comment %}
- Description: Partial for the surgery plan
- Parameters: 
  - model data model for the imprint
  - i18n access to the i18n properties  
{% endcomment %}
<main>
  <div class="flexbox-3">
    <div>
      <span class="h1">{{ model.laterality | default:"*OD" }}</span>
      <span class="h3">{{ model.lateralityDescription | default: "*Right Eye"}}</span>
    </div>
    <div class="approved-banner sub-headline1">
      <span>{{ model.planApprovalState | default: "*Plan not approved"}}</span>
    </div>
    <div></div>
  </div>
  <div>

    {%- comment -%} <div class="row data-table procedure-details">
    <div class="column column-2">
    <div>
    <div class="sub-headline2">Procedure</div>
    <table class="normal-text">
    <tbody>
    <tr>
    <td>Procedure</td>
    <td>Cataract extraction with IOL - 1st eye
    </td>
    </tr>
    <tr>
    <td>Procedure subtype</td>
    <td>ECCE</td>
    </tr>
    <tr>
    <td>Supplemental procedure</td>
    <td>iStent inject (no code)
    </td>
    </tr>
    <tr>
    <td>Supplemental techniques
    </td>
    <td>Suture fixation of IOL (Yamane)</td>
    </tr>
    <tr>
    <td>Special needs</td>
    <td>None</td>
    </tr>
    </tbody>
    </table>
    </div>
    <div>
    <div class="sub-headline2">Surgery Day</div>
    <table class="normal-text">
    <tbody>
    <tr>
    <td>Date</td>
    <td>12/07/2021</td>
    </tr>
    <tr>
    <td>Facility</td>
    <td>West Texas ASC Lorem ipsum dolor</td>
    </tr>
    <tr>
    <td>Surgeon</td>
    <td>Frodo Baggins</td>
    </tr>
    <tr>
    <td>Anesthesia</td>
    <td>Topical</td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    <div class="column column-2">
    <div>
    <div class="sub-headline2">Concerns</div>
    <table class="normal-text">
    <tbody>
    <tr>
    <td>Lens status</td>
    <td>Phakic</td>
    </tr>
    <tr>
    <td>Prior Refractive Surgery</td>
    <td>LASIK or PRK - hyperopic</td>
    </tr>
    <tr>
    <td>Diabetes</td>
    <td>No</td>
    </tr>
    <tr>
    <td>Keratoconus</td>
    <td>No</td>
    </tr>
    <tr>
    <td>Medication</td>
    <td>None</td>
    </tr>
    <tr>
    <td>Allergy</td>
    <td>Latex</td>
    </tr>
    <tr>
    <td>Other</td>
    <td>None</td>
    </tr>
    </tbody>
    </table>
    </div>

    </div>
    </div> {%- endcomment -%}

    {%- comment -%} <div class="flexbox-2 procedure-details">
    <div>
    <div>
    <div class="sub-headline2">Procedure</div>
    <table class="normal-text">
    <tbody>
    <tr>
    <td>Procedure</td>
    <td>Cataract extraction with IOL (66856) <br />- 1st eye
    </td>
    </tr>
    <tr>
    <td>Procedure subtype</td>
    <td>ECCE</td>
    </tr>
    <tr>
    <td>Supplemental procedure</td>
    <td>iStent inject (no code)
    </td>
    </tr>
    <tr>
    <td>Supplemental techniques
    </td>
    <td>Suture fixation of IOL (Yamane)</td>
    </tr>
    <tr>
    <td>Special needs</td>
    <td>None</td>
    </tr>
    </tbody>
    </table>
    </div>
    <div>
    <div class="sub-headline2">Surgery Day</div>
    <table class="normal-text">
    <tbody>
    <tr>
    <td>Date</td>
    <td>12/07/2021</td>
    </tr>
    <tr>
    <td>Facility</td>
    <td>West Texas ASC Lorem ipsum dolor</td>
    </tr>
    <tr>
    <td>Surgeon</td>
    <td>Frodo Baggins</td>
    </tr>
    <tr>
    <td>Anesthesia</td>
    <td>Topical</td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    <div>
    <div>
    <div class="sub-headline2">Concerns</div>
    <table class="normal-text">
    <tbody>
    <tr>
    <td>Lens status</td>
    <td>Phakic</td>
    </tr>
    <tr>
    <td>Prior Refractive Surgery</td>
    <td>LASIK or PRK - hyperopic</td>
    </tr>
    <tr>
    <td>Diabetes</td>
    <td>No</td>
    </tr>
    <tr>
    <td>Keratoconus</td>
    <td>No</td>
    </tr>
    <tr>
    <td>Medication</td>
    <td>None</td>
    </tr>
    <tr>
    <td>Allergy</td>
    <td>Latex</td>
    </tr>
    <tr>
    <td>Other</td>
    <td>None</td>
    </tr>
    </tbody>
    </table>
    </div>

    </div>
    </div> {%- endcomment -%}
      <div class="flexbox-2 bordertop data-table-2-col"> <div>
        <div>
          <table class="normal-text">
            <tbody>
              <tr>
                <th colspan="2" class="sub-headline1">Procedure</th>
              </tr>
              <tr>
                <td>Procedure</td>
                <td>{{ model.procedure.summary | default: "*Cataract extraction with IOL - 1st eye"}}</td>
              </tr>
              <tr>
                <td>Procedure subtype</td>
                <td>{{ model.procedure.subtype | default: "*ECCE"}}</td>
              </tr>
              <tr>
                <td>Supplemental procedure</td>
                <td>{{ model.procedure.supplemental.procedure | default: "*iStent inject (no code)"}}</td>
              </tr>
              <tr>
                <td>Supplemental techniques</td>
                <td>{{ model.procedure.supplemental.techniques | default: "*Suture fixation of IOL (Yamane)"}}</td>
              </tr>
              <tr>
                <td>Special needs</td>
                <td>{{ model.procedure.specialNeeds | default: "*None"}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <table class="normal-text">
            <tbody>
              <tr>
                <th colspan="2">Surgery Day</th>
              </tr>
              <tr>
                <td>Date</td>
                <td>{{ model.surgeryInfo.day | format_date: i18n.surgery_plan.surgery_info.day_date_format | default: "*12/07/2021" }}</td>
              </tr>
              <tr>
                <td>Facility</td>
                <td>{{ model.surgeryInfo.facility | default: "*West Texas ASC Lorem ipsum dolor" }}</td>
              </tr>
              <tr>
                <td>Surgeon</td>
                <td>{{ model.surgeryInfo.surgeon | default: "*Frodo Baggins" }}</td>
              </tr>
              <tr>
                <td>Anesthesia</td>
                <td>{{ model.surgeryInfo.anesthesia | default: "*Topical" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <div>
          <table class="normal-text">
            <tbody>
              <tr>
                <th colspan="2">Concerns</th>
              </tr>
              <tr>
                <td>Lens status</td>
                <td>{{ model.concerns.lensStatus | default: "*Phakic" }}</td>
              </tr>
              <tr>
                <td>Prior Refractive Surgery</td>
                <td>{{ model.concerns.priorRefractiveSurgery | default: "*LASIK or PRK - hyperopic" }}</td>
              </tr>
              <tr>
                <td>Diabetes</td>
                <td>{{ model.concerns.diabetes | default: "*No" }}</td>
              </tr>
              <tr>
                <td>Keratoconus</td>
                <td>{{ model.concerns.keratoconus | default: "*No" }}</td>
              </tr>
              <tr>
                <td>Medication</td>
                <td>{{ model.concerns.medication | default: "*None" }}</td>
              </tr>
              <tr>
                <td>Allergy</td>
                <td>{{ model.concerns.allergy | default: "*Latex" }}</td>
              </tr>
              <tr>
                <td>Other</td>
                <td>{{ model.concerns.other | default: "*None" }}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

  <div>
    <div class="section-header sub-headline1">IOL Calculations</div>

    <div class="flexbox-2">
      <div>
        <div
          class="h3 iol-line ellipsis toric" lines="2" min-font-size="7">{{ model.recommended.iol.name | default: "*ZEISS AT LISA tri toric 949MP" }}
        </div>
        {% assign favoredIol = model.recommended.iols | where: "favored", true | first %}
        {% echo favoredIol%}
        <div class="sub-headline2 margin-3">
          <span id="">{{ favoredIol.nonToric.se | default: "*+20.50 D"}}</span>
          {% if model.toricLens %}
            <span id=""> ({{ favoredIol.toric.cylinder | default: "*2.50"}} @ {{ favoredIol.toric.axis | default: "*86°"}})</span>
          {% endif %}
        </div>
      </div>
      <div>
        <div>
          <div class="simple-line">
            <div class="left">
              <span id="">Target Range</span>
            </div>
            <div class="right">
              <span id="">{{- model.recommended.iol.targetRange | default: "*Intermediate" }}</span>
            </div>
          </div>
          <div class="simple-line body1">
            <div class="left">
              <span id="">Target SE</span>
            </div>
            <div class="right">
              <span id="">{{ model.recommended.iol.targetSe | default: "*-1.75 D" }}</span>
            </div>
          </div>
          <div class="simple-line body1">
            <div class="left">
              <span id="">Predicted Refraction</span>
            </div>
            <div class="right">
              <span id="">{{ model.recommended.iol.predictedRefraction | default: "*-0.24+ 0.41 x 5° (SE -0.03)" }}</span>
            </div>
          </div>
          
          <div class="simple-line body1">
            <div class="left">
              <span id="">Formula used</span>
            </div>
            <div class="right">
              <span id="">{{ model.recommended.iol.formulaUsed | default: "*Z CALC | Total Keratometry" }}</span>
            </div>
          </div>
        </div>
        <div class="simple-line sub-headline2 margin-3" style="display: none;">
          <div class="left">
            <span id="">Z CALC | Total Keratometry</span>
          </div>
          <div class="right">
            <span id=""></span>
          </div>
        </div>
        <div class="flexbox-2 iol-calc">
          <div>
            <table class="spheric-table normal-text ">
              <tbody>
                <tr>
                  <th scope="row">
                    <span>
                      <span>IOL</span>
                    </span>
                    <!-- NonBreakingSpace necessary to ensure vertical alignment of result boxes -->
                    <span class="label2-small">SE</span>
                  </th>
                  <th scope="row">Res. SE</th>
                </tr>
                {%- for candidateIol in model.recommended.iols -%}
                  <tr class="{% if candidateIol.favored %}body1{% else %}normal-text{% endif %}">
                    <td>{{ candidateIol.nonToric.se }}</td>
                    <td>{{ candidateIol.nonToric.resRefSe }}</td>
                  </tr>
                {% endfor %}
                {%- comment -%} Bth: replaced static layout with dynamic layout and reading of model data
                <tr class="normal-text">
                  <td>+21.00</td>
                  <td>-0.20</td>
                </tr>
                <tr class="body1">
                  <td>+20.50</td>
                  <td>+0.17</td>
                </tr>
                <tr class="normal-text">
                  <td>+20.00</td>
                  <td>+0.53</td>
                </tr>
                {%- endcomment -%}
                {%- comment -%} <tr class="normal-text-small">
                <td>+20.73</td>
                <td>0.00</td>
                </tr> {%- endcomment -%}
              </tbody>
            </table>
          </div>
          <div>
            {%  if model.toricLens %}
            <table class="toric-table normal-text">
              <tbody>
                <tr>
                  <th>Toric Power</th>
                  <th colspan="4">Res. Ast.</th>
                </tr>
                {% for candidateIol in model.recommended.iols %}
                  <tr class="{% if candidateIol.favored %}body1{% else %}normal-text{% endif %}">
                    <td class="toric-power">{{ candidateIol.toric.cylinder | default : "*+2.25"}}</td>
                    <td class="res-ast">{{ candidateIol.toric.resRefCylinder | default : "*+0.10"}}</td>
                    <td>@</td>
                    <td>{{ candidateIol.toric.resRefAxis | default : "*111°"}}</td>
                    <td class="axis-flip"></td>
                  </tr>
                {% endfor %}
                {%- comment -%}
                <tr class="normal-text">
                  <td class="toric-power">+2.25</td>
                  <td class="res-ast">+0.10</td>
                  <td>@</td>
                  <td>111°</td>
                  <td class="axis-flip"></td>
                </tr>
                <tr class="body1">
                  <td class="toric-power">+2.25</td>
                  <td class="res-ast">+0.27</td>
                  <td>@</td>
                  <td>21°</td>
                  <td class="axis-flip"></td>
                </tr>
                <tr class="normal-text">
                  <td class="toric-power">+2.25</td>
                  <td class="res-ast">+0.63</td>
                  <td>@</td>
                  <td>21°</td>
                  <td class="axis-flip"></td>
                </tr>
                {%- endcomment -%}
              </tbody>
            </table>
            {%  endif  %}
          </div>
        </div>
      </div>
    </div>
    <div class="flexbox-2">
      <div>
        <div class="simple-line">
          <div class="left">
            <span id="">Arcuate Incisions</span>
          </div>
          <div class="right">
            <span id="">{{ model.arcuateIncisions | default: "*000° @ 000°, 000° @ 000°, 000 µm / 000 %"}}</span>
          </div>
        </div>
      </div>
      <div>
        <div class="simple-line">
          <div class="left">
            <span id="">Net Astigmatism</span>
          </div>
          <div class="right">
            <span id="">{{ model.exact.netAstigmatism.cylinder | default: "*+0.10"}} @ {{ model.exact.netAstigmatism.axis | default: "*16" }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="flexbox-2 bordertop">
      <div>
        <table class="normal-text">
          <tbody>

            <tr>
              <th>Backup IOL Location</th>
              <th>Model</th>
            </tr>
            {%- for backupIol in model.backupIols -%}
              <tr>
                <td>{{ backupIol.location | default: "*Capsular bag"}}</td>
                <td>{{ backupIol.model | default: "*Tecnis ZCB00"}}</td>
              </tr>
            {% endfor %}
            {%- comment -%}
           <tr>
             <td>Capsular bag</td>
             <td>Tecnis ZCB00</td>
           </tr>

           <tr>
             <td>Sulcus (adjusted)</td>
             <td>CT LUCIA 602</td>
           </tr>
           <tr>
             <td>Anterior chamber</td>
             <td>MTA 4UO</td>
           </tr>
           {%- endcomment -%}
          </tbody>
        </table>
      </div>
      <div class="data-table-3-col">
        <table class="normal-text ">
          <tbody>
            <tr>
              <th>Power (D)</th>
              <th>Predicted SE (D)</th>
              <th>Availability</th>
            </tr>
            {%- for backupIol in model.backupIols -%}
              <tr>
                <td>{{ backupIol.power | default: "*+25.50"}}</td>
                <td>{{ backupIol.predictedSE | default: "*1.79"}}</td>
                <td>
                  <div class="check-box">
                    {%- if backupIol.available -%}
                      <img src="{{ versionedReportBaseUrl }}/assets/images/check-box-checked.png" alt="Checkbox" />
                    {%- else -%}
                      <img src="{{ versionedReportBaseUrl }}/assets/images/check-box-empty.png" alt="Checkbox" />
                    {%- endif -%}
                  </div>
                </td>
              </tr>
            {% endfor %}
            {%- comment -%}
            <tr>
              <td>+25.50</td>
              <td>-1.79</td>
              <td>
                <div class="check-box">
                  <img src="{{ versionedReportBaseUrl }}/assets/images/check-box-empty.png" alt="Checkbox" />
                </div>
              </td>
            </tr>
            <tr>
              <td>+23.50</td>
              <td>-1.87</td>
              <td>
                <div class="check-box">
                  <img src="{{ versionedReportBaseUrl }}/assets/images/check-box-empty.png" alt="Checkbox" />
                </div>
              </td>
            </tr>
            <tr>
              <td>+21.50</td>
              <td>-1.85</td>
              <td>
                <div class="check-box">
                  <img src="{{ versionedReportBaseUrl }}/assets/images/check-box-empty.png" alt="Checkbox" />
                </div>
              </td>
            </tr>
            {%- endcomment -%}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div>
    <div class="section-header sub-headline1">Biometry values</div>
    <div class="flexbox-2">

      <div>
        <table class="biometry normal-text">
          <tbody>
            <tr class="spaceUnder">
              <td>
                <table class="innerTable">
                  <tbody>
                    <tr class="highlighted-text body1">
                      <td>Ast. K</td>
                      <td class="align-right" id="keratometryCyl">{{ model.biometry.keratometry.astigmatism | default:"*+0.22"}}</td>
                      <td>D</td>
                      <td>@</td>
                      <td class="align-right" id="keratometryCyl-axis">{{ model.biometry.keratometry.astigmatismAxis | default:"*106"}}</td>
                      <td>°</td>
                    </tr>
                    <tr class="normal-text">
                      <td id="keratometryCr-label">Avg. R</td>
                      <td class="align-right" id="keratometryCr">{{ model.biometry.keratometry.cornealRadius | default:"*4.00"}}</td>
                      <td>mm</td>
                      <td>&#160;</td>
                      <td>&#160;</td>
                      <td>&#160;</td>
                    </tr>
                    <tr class="normal-text">
                      <td id="r1-label">R1</td>
                      <td class="align-right" id="r1">{{ model.biometry.keratometry.r1 | default:"*7.97"}}</td>
                      <td>mm</td>
                      <td>@</td>
                      <td class="align-right" id="r1-axis">{{ model.biometry.keratometry.r1Axis | default:"*0"}}</td>
                      <td>°</td>
                    </tr>
                    <tr class="normal-text">
                      <td id="r2-label">R2</td>
                      <td class="align-right" id="r2">{{ model.biometry.keratometry.r2 | default:"*7.83"}}</td>
                      <td>mm</td>
                      <td>@</td>
                      <td class="align-right" id="r2-axis">{{ model.biometry.keratometry.r2Axis | default:"*100"}}</td>
                      <td>°</td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td>
                <table class="innerTable">
                  <tbody>
                    <tr class="highlighted-text body1">
                      <td>Ast. TK</td>
                      <td class="align-right" id="totalKeratometryCyl">{{ model.biometry.totalKeratometry.astigmatism | default:"*+0.16"}}</td>
                      <td>D</td>
                      <td>@</td>
                      <td class="align-right" id="totalKeratometryCyl-axis">{{ model.biometry.totalKeratometry.astigmatismAxis | default:"*142"}}</td>
                      <td>°</td>
                    </tr>
                    <tr class="normal-text">
                      <td id="totalKeratometryCr-label">Avg. TR</td>
                      <td class="align-right" id="totalKeratometryCr">{{ model.biometry.totalKeratometry.cornealRadius | default:"*7.95"}}</td>
                      <td>mm</td>
                      <td>&#160;</td>
                      <td>&#160;</td>
                      <td>&#160;</td>
                    </tr>
                    <tr class="normal-text">
                      <td id="tr1-label">TR1</td>
                      <td class="align-right" id="tr1">{{ model.biometry.totalKeratometry.r1 | default:"*7.75"}}</td>
                      <td>mm</td>
                      <td>@</td>
                      <td class="align-right" id="tr1-axis">{{ model.biometry.totalKeratometry.r1Axis | default:"*0"}}</td>
                      <td>°</td>
                    </tr>
                    <tr class="normal-text">
                      <td id="tr2-label">TR2</td>
                      <td class="align-right" id="tr2">{{ model.biometry.totalKeratometry.r1 | default:"*7.84"}}</td>
                      <td>mm</td>
                      <td>@</td>
                      <td class="align-right" id="tr2-axis">{{ model.biometry.totalKeratometry.r1Axis | default:"*100"}}</td>
                      <td>°</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="date-of-measurement-line caption">
          <div class="left">
            <span class="acquisitionDateLabel">Date of measurement</span>
            <span id="acquisitionDate">{{ model.biometry.acquisitionDate | default:"2020-02-12" }}</span>
          </div>
          <div class="right">
            <span>n</span>
            <span id="refractiveIndex">{{ model.biometry.refractiveIndex | default:"*1.3375" }}</span>
          </div>
        </div>

        <div class="simple-line">
          <div class="left">
            <span id="">Pre-op refraction</span>
          </div>
          <div class="right">
            <span id="">{{ model.preOpRefraction | default:"*+0.24 + 0.25 x 000° (20/16)" }}</span>
          </div>
        </div>
      </div>
      <div>
        <table class="biometry normal-text">
          <tbody>
            <tr class="spaceUnder">
              <td>
                <table class="innerTable">
                  <tbody>
                    <tr class="highlighted-text body1">
                      <td>AL</td>
                      <td class="align-right" id="axialLength">{{ model.biometry.axialLength | default:"*22.86" }}</td>
                      <td>mm</td>
                    </tr>
                    <tr class="normal-text">
                      <td id="acd-label">ACD</td>
                      <td class="align-right" id="acd">{{ model.biometry.anteriorChamberDepth | default:"*3.06" }}</td>
                      <td>mm</td>
                    </tr>
                    <tr class="normal-text">
                      <td>LT</td>
                      <td class="align-right" id="lensThickness">{{ model.biometry.lensThickness | default:"*4.06" }}</td>
                      <td>mm</td>
                    </tr>
                    <tr class="normal-text">
                      <td>CCT</td>
                      <td class="align-right" id="centralCorneaThickness">{{ model.biometry.centralCorneaThickness | default:"*416" }}</td>
                      <td>µm</td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td>
                <table class="innerTable">
                  <tbody>
                    <tr class="normal-text">
                      <td>WTW</td>
                      <td class="align-right" id="whiteToWhite">{{ model.biometry.whiteToWhite | default:"*12.10" }}</td>
                      <td>mm</td>
                      <td>&#160;</td>
                      <td>&#160;</td>
                      <td>&#160;</td>
                    </tr>
                    <tr class="normal-text">
                      <td>Pupil</td>
                      <td class="align-right" id="pupil">{{ model.biometry.pupil | default:"*12.40" }}</td>
                      <td>mm</td>
                      <td>&#160;</td>
                      <td>&#160;</td>
                      <td>&#160;</td>
                    </tr>
                    <tr class="normal-text">
                      <td>Ix / Iy</td>
                      <td class="align-right" id="alpha-cartesian-x">{{ model.biometry.alphaCartesianX | default:"*0.4" }}</td>
                      <td>mm</td>
                      <td>/</td>
                      <td class="align-right" id="alpha-cartesian-y">{{ model.biometry.alphaCartesianY | default:"*0.5" }}</td>
                      <td class="paddingLeft">mm</td>
                    </tr>
                    <tr class="normal-text">
                      <td>Px / Py</td>
                      <td class="align-right" id="kappa-cartesian-x">{{ model.biometry.kappaCartesianX | default:"*-0.2" }}</td>
                      <td>mm</td>
                      <td>/</td>
                      <td class="align-right" id="kappa-cartesian-y">{{ model.biometry.kappaCartesianY | default:"*-0.4" }}</td>
                      <td class="paddingLeft">mm</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>

          </tbody>
        </table>

        <div class="date-of-measurement-line caption">
          <div class="left">
            <span class="acquisitionDateLabel">Date of measurement</span>
            <span id="acquisitionDate">{{ model.biometry.acquisitionDate | default:"2020-02-12" }}</span>
          </div>
          <div class="right">
            <span>n</span>
            <span id="refractiveIndex">{{ model.biometry.refractiveIndex | default:"*1.3375" }}</span>
          </div>
        </div>
        <div class="simple-line">
          <div class="left">
            <span id="">Average anterior corneal power</span>
          </div>
          <div class="right">
            <span id="">{{ model.averageAnteriorCornealPower | default:"*43.83 D" }}</span>
          </div>
        </div>
      </div>

    </div>
  </div>

  {%- comment -%} row column {%- endcomment -%}
  {%- comment -%} <div>

  <div class="section-header sub-headline1">Biometry values</div>
  <div class="row data-table">
  <div class="column column-2" id="leftBiometryValues">
  <div>
  <table class="biometry normal-text">
  <tbody>
  <tr class="spaceUnder">
  <td>
  <table class="innerTable">
  <tbody>
  <tr class="highlighted-text body1">
  <td>Ast. K</td>
  <td class="align-right" id="keratometryCyl">+0.22</td>
  <td>D</td>
  <td>@</td>
  <td class="align-right" id="keratometryCyl-axis">106</td>
  <td>°</td>
  </tr>
  <tr class="normal-text">
  <td id="keratometryCr-label">Avg. R</td>
  <td class="align-right" id="keratometryCr">4.00</td>
  <td>mm</td>
  <td>&#160;</td>
  <td>&#160;</td>
  <td>&#160;</td>
  </tr>
  <tr class="normal-text">
  <td id="r1-label">R1</td>
  <td class="align-right" id="r1">7.97</td>
  <td>mm</td>
  <td>@</td>
  <td class="align-right" id="r1-axis">0</td>
  <td>°</td>
  </tr>
  <tr class="normal-text">
  <td id="r2-label">R2</td>
  <td class="align-right" id="r2">7.83</td>
  <td>mm</td>
  <td>@</td>
  <td class="align-right" id="r2-axis">100</td>
  <td>°</td>
  </tr>
  </tbody>
  </table>
  </td>
  <td>
  <table class="innerTable">
  <tbody>
  <tr class="highlighted-text body1">
  <td>Ast. TK</td>
  <td class="align-right" id="totalKeratometryCyl">+0.16</td>
  <td>D</td>
  <td>@</td>
  <td class="align-right" id="totalKeratometryCyl-axis">142</td>
  <td>°</td>
  </tr>
  <tr class="normal-text">
  <td id="totalKeratometryCr-label">Avg. TR</td>
  <td class="align-right" id="totalKeratometryCr">7.95</td>
  <td>mm</td>
  <td>&#160;</td>
  <td>&#160;</td>
  <td>&#160;</td>
  </tr>
  <tr class="normal-text">
  <td id="tr1-label">TR1</td>
  <td class="align-right" id="tr1">7.75</td>
  <td>mm</td>
  <td>@</td>
  <td class="align-right" id="tr1-axis">0</td>
  <td>°</td>
  </tr>
  <tr class="normal-text">
  <td id="tr2-label">TR2</td>
  <td class="align-right" id="tr2">7.84</td>
  <td>mm</td>
  <td>@</td>
  <td class="align-right" id="tr2-axis">100</td>
  <td>°</td>
  </tr>
  </tbody>
  </table>
  </td>
  </tr>
  <tr>
  <td colspan="2">
  <div class="date-of-measurement-line caption">
  <div class="left">
  <span class="acquisitionDateLabel">Date of measurement</span>
  <span id="acquisitionDate">2020-02-12</span>
  </div>
  <div class="right">
  <span>n</span>
  <span id="refractiveIndex">1.3375</span>
  </div>
  </div>
  </td>
  </tr>
  </tbody>
  </table>
  </div>

  </div>
  <div class="column column-2" id="rightBiometryValues">
  <div>
  <table class="biometry normal-text">
  <tbody>
  <tr class="spaceUnder">
  <td>
  <table class="innerTable">
  <tbody>
  <tr class="highlighted-text body1">
  <td>AL</td>
  <td class="align-right" id="axialLength">22.86</td>
  <td>mm</td>
  </tr>
  <tr class="normal-text">
  <td id="acd-label">ACD</td>
  <td class="align-right" id="acd">3.06</td>
  <td>mm</td>
  </tr>
  <tr class="normal-text">
  <td>LT</td>
  <td class="align-right" id="lensThickness">4.06</td>
  <td>mm</td>
  </tr>
  <tr class="normal-text">
  <td>CCT</td>
  <td class="align-right" id="centralCorneaThickness">416</td>
  <td>µm</td>
  </tr>
  </tbody>
  </table>
  </td>
  <td>
  <table class="innerTable">
  <tbody>
  <tr class="normal-text">
  <td>WTW</td>
  <td class="align-right" id="whiteToWhite">12.10</td>
  <td>mm</td>
  <td>&#160;</td>
  <td>&#160;</td>
  <td>&#160;</td>
  </tr>
  <tr class="normal-text">
  <td>Pupil</td>
  <td class="align-right" id="pupil">12.40</td>
  <td>mm</td>
  <td>&#160;</td>
  <td>&#160;</td>
  <td>&#160;</td>
  </tr>
  <tr class="normal-text">
  <td>Ix / Iy</td>
  <td class="align-right" id="alpha-cartesian-x">0.4</td>
  <td>mm</td>
  <td>/</td>
  <td class="align-right" id="alpha-cartesian-y">0.5</td>
  <td class="paddingLeft">mm</td>
  </tr>
  <tr class="normal-text">
  <td>Px / Py</td>
  <td class="align-right" id="kappa-cartesian-x">-0.2</td>
  <td>mm</td>
  <td>/</td>
  <td class="align-right" id="kappa-cartesian-y">-0.4</td>
  <td class="paddingLeft">mm</td>
  </tr>
  </tbody>
  </table>
  </td>
  </tr>
  <tr>
  <td colspan="2">
  <div class="date-of-measurement-line caption">
  <div class="left">
  <span class="acquisitionDateLabel">Date of measurement</span>
  <span id="acquisitionDate">2020-02-12</span>
  </div>
  <div class="right">
  <span>n</span>
  <span id="refractiveIndex">1.3375</span>
  </div>
  </div>
  </td>
  </tr>

  </tbody>
  </table>

  </div>
  </div>
  </div>
  </div> {%- endcomment -%}</main>