<!DOCTYPE HTML>
<html lang="de">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>{{ model.templateName }}</title>
    <link rel="stylesheet" media="print,screen" href="{{ sharedAssetsUrl }}/css/base.css"/>
</head>

<body>
<div class="patient-report">
    <table class="patient">
        <tr>
            <td class="h1">Patient</td>
            <td>&#160;</td>
        </tr>
        <tr>
            <td class="h1">Patient</td>
            <td>&#160;</td>
        </tr>
        <tr>
            <td class="sub-headline2">{% translate firstName %}</td>
            <td class="label1">{{ model.patient.firstName }}</td>
        </tr>
        <tr>
            <td class="sub-headline2">{{ i18n.lastName }}</td>
            <td class="label1">{{ model.patient.lastName | upper }}</td>
        </tr>
        <tr>
            <td class="sub-headline2">{{ i18n.decimalField }}</td>
            <td class="label1">{{ model.patient.decimalField | format_number: "N1" }}</td>
        </tr>
        <tr>
            <td class="sub-headline2">{{ i18n.integerField }}</td>
            <td class="label1">{{ model.patient.integerField }}</td>
        </tr>
        <tr>
            <td class="sub-headline2">{{ i18n.age }}</td>
            {% comment %}
            {% capture creationDateTime %}{{ model.creation.date | format_date: i18n.date_format_printed | default: "<br/>"}}{% endcapture %}
            <td class="label1">{{ i18n.printed_by | format_string: creationDateTime, model.patient.firstName, model.patient.lastName}}</td>
            {% if model.creation.date %}
                {% capture creationDateTime %}{{ "1970-01-01 00:00:00" | format_date: i18n.date_format_printed | default: "<br/>"}}{% endcapture %}
                <td class="label1">{{ i18n.printed_by | format_string: creationDateTime, model.patient.firstName, model.patient.lastName}}</td>
            {% else %}
                <td class="label1">{{ model.creation.date | format_date: i18n.date_format_printed | default: "&#160;" }}</td>
            {% endif %}
            {% endcomment %}
        </tr>
    </table>
    {% comment %}
    {% assign keys = "firstName,lastName" | split: "," %} 
    <table>
        {% for key in keys %}
            {{ model.patient[key] }}
            {{ forloop.index }}
        {% endfor %}
    </table>
    {% endcomment%}
    {% render "partials/abc/comments", model: model.patient.comments, i18n: i18n %}
</div>
{% render "partials/lens-data", rightEye: model.os, leftEye: model.od, i18n: i18n %}
</body>
</html>
